In [3]:
import numpy as np
import pandas as pd
val_set_df  = pd.read_csv('../val_set_results/GT_2C_0F.csv')
missclass_id = list(val_set_df[val_set_df['label']!=val_set_df['preds']].index)
val_set = pd.read_csv('/workspace/data/cv_methods/tmi2022/scripts/val_set_1.txt',delimiter='\t', header=None)
val_set[(val_set.index+1).isin(missclass_id)]

                            0  1
2     BCC675 (7)_0_files/20.0  0
20    BCC665 (3)_3_files/20.0  4
28      BCC5 (1)_0_files/20.0  0
44    BCC452 (4)_2_files/20.0  3
81    BCC251 (6)_0_files/20.0  0
82    BCC251 (5)_2_files/20.0  3
93    BCC248 (1)_0_files/20.0  0
94   BCC245 (9)_1b_files/20.0  1
118   BCC21 (2)_1a_files/20.0  2

In [2]:
val_set_df[val_set_df['label']!=val_set_df['preds']]

     Unnamed: 0  label  preds
3             3      0      1
21           21      1      0
29           29      0      1
45           45      1      0
82           82      1      0
83           83      1      0
94           94      1      0
95           95      1      0
119         119      0      1